*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
:root{
    --bgcolor: #1C1E53;
    --htextcolor: #FFFFFF;
    --font-family: 'Poppins', sans-serif;
    --wtextcolor: #282938;
}
/*-- nav part start --*/
.bg_menu{
    position: absolute;
    width: 100%;
    top: 0;
    padding: 40px 0;
}
.bg_menu ul li a{
    color: var(--htextcolor) !important;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}
.contact{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    background-color: #1C1E53;
    padding: 16px 48px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.contact:hover{
    background-color: #FCD980;
    color: #1B1C2B;
    border: 2px solid #FCD980;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
/*-- nav part end --*/
/*-- banner part start --*/
#banner{
    background-color: var(--bgcolor);
    padding-top: 200px;
    padding-bottom: 50px;
}
.ban_text h1{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 54px;
    font-weight: 600;
}
.ban_text p{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
}
.ban_btn a{
    color: var(--htextcolor);
    font-family: 'Manrope', sans-serif;;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 48px;
    border: 2px solid #FCD980;
    margin: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.ban_btn a i{
    padding-left: 10px;
}
.ban_btn a:hover{
    background-color: #FCD980;
    color: #1B1C2B;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.banner_img img{
    width: 100%;
}
/*-- banner part end --*/
/*-- work part start --*/
#work{
    margin: 50px 0;
}
.work_text h2{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 600;
}
.work_text p{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}
.work_text a{
    color: #1B1C2B;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
}
.work_text a:hover{
    color: #2405F2;
}
.work_card{
    margin-bottom: 20px;
    margin-top: 20px;
}
.work_card h2{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
}
.work_card p{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}
/*-- work part end --*/
/*-- card part start --*/
.card_head h2{
    margin-bottom: 50px;
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 600;
}
.card_head a{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;    
}
.card_head a:hover{
    color: #2405F2;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.card_head a i{
    padding-left: 10px;
}
.card_img{
    position: relative;
}
.card_img img{
    width: 100%;
}
.overlay{
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    left: 0;
    top: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.card_img:hover .overlay{
    width: 100%;
}
.overlay_text{
    position: absolute;
    bottom: 20%;
    margin-left: 5%;
    width: 40%;
}
.overlay_text h2{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.overlay_text p{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}
.overlay_text a{
    color: #FCD980;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
}
.card_img_one{
    position: relative;
    margin-bottom: 25px;    
}
.card_img_one img{
    width: 100%;
}
.img_one_text{
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}
.img_one_text:hover{
    opacity: 1;
}
.one_text{
    position: absolute;
    bottom: 10%;
    margin-left: 10%;
}
.one_text h2{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    bottom: 0;
}
.one_text a{
    color: #FCD980;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    bottom: 10%;
}
.one_text a i{
    margin-left: 10px;
}
/*-- card part end --*/
/*-- feature part start --*/
#feature{
    margin: 50px 0;
}
.feature_head{
    text-align: center;
    margin-bottom: 50px;
    padding: 0;
}
.feature_head h4{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
}
.feature_head h2{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 600;
}
.fture_dtls{
    padding: 48px 32px;
    border: 2px solid #1B1C2B;
    margin-bottom: 20px;
    background-color: #F4F6FC;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.fture_dtls:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.fture_dtls:hover i{
    color: #FCD980;
}
.fture_dtls h2{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 500;
}
.fture_dtls p{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
/*-- feature part end --*/
/*-- clients part start --*/
#client{
    margin: 50px 0;
}
.client_left h2{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 38px;
    font-weight: 600;
}
.client_left p{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.client_right h3{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 500;
}
.right_img{
    margin-top: 40px;
}
.right_img img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.right_img_text{
    margin-left: 20px;
}
.right_img_text a{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
}
.right_img_text p{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
}
/*-- clients part end --*/
/*-- faq part start --*/
#faq{
    margin: 50px 0;
}
.faq_head h2{
    color: var(--wtextcolor);
    font-size: 48px;
    font-weight: 600;    
}
.faq_head a{
    color: var(--bgcolor);
    font-size: 18px;
    font-weight: 500;    
}
.faq_head a:hover{
    color: #2405F2;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.accordion-item h2{
    color: var(--wtextcolor);
    font-size: 24px;
    font-weight: 500;
}
.accordion-item a{
    color: #2405F2;
    font-size: 24px;
    font-weight: 500;
}
.faq_btn a{
    margin-right: 30px;
}
.accordion-body p{
    margin-left: 40px;
    color: var(--wtextcolor);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.87;
}
/*-- faq part end --*/
/*-- inquiry part start --*/
#inquiry{
    margin: 50px 0;
}
.inqry_img{
    position: relative;
}
.inqry_img img{
    min-height: 691px;
    width: 100%;
}
.inq_img_text{
    background: rgba(28, 30, 83, 0.50);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 2s ease;
    opacity: 1;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition: 2s ease;
}
.inqry_text{
    position: absolute;
    padding: 15% 10%;
}
.inqry_text h2{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 54px;
    font-weight: 600;
    padding-bottom: 25px;
}
.inqry_text p{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
}
.inqry_right_text h2{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 500;
}
.inqry_right_text p{
    color: #F4F6FC;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 30px;
}
.inqry_right{
    background-color: #1C1E53;
    width: 100%;
    height: 100%;
    padding: 10%;
}
.form-control{
    background-color: var(--bgcolor);
    padding: 10px;
    margin: 10px 0;
}
.inqry_right ::placeholder{
    color: #F4F6FC;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
}
.right_text .btn{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
    width: 50%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 50px;
    background: #FFFFFF;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.right_text .btn:hover{
    background: #FCD980;
}
.right_last{
   text-align: center;
}
.right_last a{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    margin-top: 10%;
    text-align: center;
}
.right_last :hover{
    color: #FCD980;
}

.right_last a i{
    padding-left: 10px;
}
/*-- inquiry part end --*/
/*-- blog part start --*/
#blog{
    margin: 50px 0;
}
.blog_head h2{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 600;
}
.blog_img{
    margin: 10% 0;
}
.blog_img img{
    width: 100%;
}
.blog_text h6{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
    margin: 5% 0;
}
.blog_text h2{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 500;
    margin: 5% 0;
}
.blog_text p{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
}
.blog_text a{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
}
.blog_text a:hover{
    color: #2405F2;
}
/*-- blog part end --*/
/*-- footer part start --*/
footer{
    background-color: var(--bgcolor);
    padding: 2%;
}
.footer_left p{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
    padding-top: 20px;  
}
.footer_right h2{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 600;    
}
.footer_right p{
    color: var(--htextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;      
}
.footer_right span a{
    margin: 10px;
    color: #F4F6FC;
}
.footer_right span a:hover{
    color: #FCD980;
}
.cntact{
    padding: 16px;
    border: 2px solid #FCD980;
    background-color: #FCD980;   
}
.call h2{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
}
.call a{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}
.cnt_mail{
    margin: 0 10%;
}
.navbar-text{
    color: var(--wtextcolor);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
}

.bt-menu ul li a{
    color: var(--wtextcolor) !important;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;    
}
/*-- footer part end --*/
@media (max-width:767px){
    .container h2{
        font-size: 20px;
    }
    .container p{
        font-size: 14px;
    }
    .container a{
        font-size: 14px;
    }
    .menu_bg ul{
        text-align: center;
    }
    .nav_icon{
        background-color: #FCD980;
    }
    .bg_menu{
        position: relative;
        background-color: #1C1E53;
    }
    .menu_bg ul li{
        padding: 5px 0;
    }
    #banner{
        padding-top: 30px;
    }  
    .ban_text{
        margin-top: 20px;
    }
    .ban_text h1{
        font-size: 40px;
    }
    .ban_btn a{
        padding: 15px 30px;
    }
    .work_text{
        display: flex;
        justify-content:flex-start;
    }
    .work_text a{
        font-size: 10px;
    }
    .work_card{
        text-align: center;
    }
    .work_card p{
       text-align: start;
    }
    .card_img_one{
        margin-top: 25px;
    }
    .feature_head h2{
        font-size: 25px;
    }
    .fture_dtls{
        padding: 20px;
    }
    .fture_dtls h2{
        font-size: 15px;
    }
    .fture_dtls p{
    font-size: 10px;
    }
    .client_left h2{
        font-size: 30px;
    }
    .client_right h3{
        font-size: 20px;
    }
    .inqry_text h2{
        font-size: 40px;
    }    
    .card_btn{
        display: flex;
    }
    .card_img_one{
       margin-left: 10px;
    }
    .card_img_one img{
       width: 100%;
    }
    .card_img_one:first-child{
        margin-left: 0;
    }
    .blog_text h6{
        font-size: 12px;
    }  
    .blog_text h2{
        font-size: 18px;
    }  
    .blog_text p{
        font-size: 13px;
    }  
    .btn_nav{
        flex-direction: row;
    }
    .btn_nav li{
        margin-right: 10px;
    }
    .bt-menu ul li a{
        margin: 0;
    }
}
@media (min-width:768px) and (max-width:991.98px){
    .container h2{
        font-size: 25px;
    }
    .container p{
        font-size: 14px;
    }
    .container a{
        font-size: 14px;
    }
    .menu_bg ul li{
        padding: 5px 0;
    }
    .nav_icon{
        background-color: #FCD980;
    }
    .bg_menu{
        position: relative;
        background-color: #1C1E53;
    }
    .menu_bg ul{
        text-align: center;
    }
    #banner{
        padding-top: 30px;
    }    
    .ban_text{
        margin-top: 20px;
    }
    .ban_text h1{
        font-size: 40px;
    }
    .ban_btn a{
        padding: 15px 30px;
    }
    .work_text{
        display: flex;
        justify-content:flex-start;
    }
    .work_card p{
       text-align: start;
    }
    .card_img_one{
        margin-top: 20px;
    }
    .feature_head h2{
        font-size: 25px;
    }
    .fture_dtls{
        padding: 20px;
    }
    .fture_dtls h2{
        font-size: 15px;
    }
    .fture_dtls p{
    font-size: 10px;
    }
    .client_left h2{
        font-size: 30px;
    }
    .client_right h3{
        font-size: 20px;
    }
    .inqry_text h2{
        font-size: 40px;
    }    
    .card_btn{
        display: flex;
    }
    .card_img_one{
       margin-left: 10px;
    }
    .card_img_one img{
       width: 100%;
    }
    .card_img_one:first-child{
        margin-left: 0;
    }
    .blog_text h6{
        font-size: 14px;
    }  
    .btn_nav{
        flex-direction: row;
    }
    .btn_nav li{
        margin-right: 20px;
    }
}
@media (min-width:992px) and (max-width:1199.98px){
    .bg_menu ul li a{
        margin: 0 10px;
    }
    .ban_btn a{
        padding: 15px 30px;
    }
}
@media (min-width:1200px) and (max-width:1399.98px){

}
@media (min-width:1400px){
}
